.photo{
    width: 100%;
    box-sizing: border-box;
    border: 2px solid black;
}
.button{
    box-sizing: border-box;
    width: 200px;
    height: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    text-decoration: none;
    border: none;
    background: linear-gradient(to bottom right, blue, pink);
    color: white;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-content: center;
}
input :hover{
    background-color: white;
}
.box{
    display: flex;
    justify-content: center;
}
.pop{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
@media only screen and (max-width: 600px) {
    .pop {
        display: grid;
      grid-template-columns: 1fr;
    }
  }